.page-body {
    background-color: #1C1C1C;
/*Alinhamento ao centro*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  padding: 0;
  box-sizing: border-box; 

  z-index: 100;
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0.5) 0%,
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,0) 100%
  );
  background-size: 100% 2px;
 
}
.page-body .aside #load-letter{
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family:  'Michroma', sans-serif;
    letter-spacing: 5px;
    color: #FFFAFA;
    font-size: 30px;
    width: 22ch;
    /* Animação das letras */
    animation: typing 2s steps(7), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;  

}
 
  /*Animação das letras de Loading*/
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  svg{
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  svg circle{
    stroke: #4DD0E1;
  }
  
  .circle{
    transform-origin: center ;
  }
  #arc1{
    stroke-dasharray: 30;
    stroke-dashoffset: 18;
    animation: 10s -2s rota infinite linear;
  }
  #arc3{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 16s 1s rota infinite linear;
  }
  #arc4{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 6s 1s rota infinite linear reverse;
  }
  #arc5{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 4s 1s rota infinite linear;
  }
  #arc6{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 8s 1s rota infinite linear alternate;
  }
  #arc7{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 4s 1s rota infinite linear reverse;
  }
  text{
   fill: #ffffff;
   font: bold 24px sans-serif;
  }
  @keyframes rota{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      rgba(255, 255, 255, 0.05) .5%,
      transparent 1%
    );
  
    animation: fudge 7s ease-in-out alternate infinite;
  }
  
  
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  